@import "tailwindcss";

@theme {
  --font-serif: var(--font-instrument-serif-loaded), serif;
  --font-sans:  var(--font-public-sans-loaded), sans-serif;
}

::selection {
  background-color: #f97316;
  color: #fafaf9;
}

